body{
	background: #eee;
}
.container{
	margin-top: 50px;
}
.adduser{
	margin-bottom: 20px;
}
.login{
	border: gray 1px;
	border-radius: 30px;
	margin-right: 20px auto;
	padding: 40px;
	color: black;
	background: white;
}
